.formItemInput{
    display: block;
    border: 1px solid var(--medium-dark-gray);
    border-radius: 10px;
    width: 350px;
    height: 30px;
    margin-top: 5px;
    transition: 0.4s;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    font-family: var(--regular);

    &:focus{
        border: 1px solid var(--violet);
    }
}

.formItemLabel{
    font-size: 14px;
    line-height: 21px;
    color: var(--medium-dark-gray)
}

.formButton{
    width: 200px;
    height: 45px;
    background: var(--light-pink);
    border-radius: 5px;
    color: var(--white);
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    transition: background 0.4s;

    &:hover{
        background: var(--violet);
    }

    &:disabled,
    &[disabled]{
        background: var(--violet);
    }
}

.formNotify{
    font-size: 12px;
    line-height: 14px;
    color: var(--medium-dark-gray);
    margin-top: 10px;

    span {
        color: var(--violet);
        cursor: pointer;
    }
}

@media(max-width: 740px){
    .formItemInput{
        width: 300px;
    }
}