.modalWrapper{
    position: fixed;
    z-index: 150;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    background: rgba(43, 43, 43, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    padding: 10px;
}

.modalWrapperActive{
    position: fixed;
    z-index: 150;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    background: rgba(43, 43, 43, 0.5);
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    padding: 10px;
}


.modalContent{
    background-color: #fff;
    margin: 15% auto;
    max-width: 670px;
    padding: 40px;
    position: relative;
    border-radius: 30px;
}

.modalHeader{
    font-family: var(--extra-bold);
    font-size: 32px;
    line-height: 32px;
    color: var(--yellow-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media(max-width: 740px){
    .modalContent{
        max-width: 470px;
        padding: 25px;
        border-radius: 20px;
    }

    .modalHeader{
        font-size: 25px;
        line-height: 25px;
    }
}